

body{
    height:1000px;
    width:1000px;}

div{
    height: 100px;
    width: 100px;
}




@media (min-width: 1025px) {
    .carré1 {
        height: 33%;
        width: 33%;
        background-color: red
    }
}

@media (min-width: 1025px) {
    .carré2 {
        height: 33%;
        width: 33%;
        background-color: green
    }
}

@media (min-width: 1025px) {
    .carré3 {
        height: 33%;
        width: 33%;
        background-color: orange;
    }
}





@media (min-width: 600px) and (max-width:1024px) {
    .carré1 {
        height: 50%;
        width: 50%;
        background-color: red
    }
}

@media (min-width: 600px) and (max-width:1024px) {
    .carré2 {
        height: 50%;
        width: 50%;
        background-color: green
    }
}

@media (min-width: 600px) and (max-width:1024px) {
    .carré3 {
        height: 50%;
        width: 50%;
        background-color: orange;
    }
}






@media (min-width: 320px) and (max-width:601px) {
    .carré1 {
        height: 100%;
        width: 100%;
        background-color: red
    }
}

@media (min-width: 320px) and (max-width:601px) {
    .carré2 {
        height: 100%;
        width: 100%;
        background-color: green
    }
}

@media (min-width: 320px) and (max-width:601px) {
    .carré3 {
        height: 100%;
        width: 100%;
        background-color: orange;
    }
}